Autofac
Castle.Core
Castle.Windsor
Common.Logging
CommonServiceLocator
Iesi.Collections
log4net
Microsoft.CompilerServices.AsyncTargetingPack
NHibernate
Ninject
Ninject.Extensions.ContextPreservation
Ninject.Extensions.NamedScope
NServiceBus
NServiceBus.AcceptanceTesting
NServiceBus.AcceptanceTests.Sources
NServiceBus.Autofac
NServiceBus.CastleWindsor
NServiceBus.Interfaces
NServiceBus.Ninject
NServiceBus.Spring
NServiceBus.StructureMap
NServiceBus.Unity
NUnit
RavenDB.Client
