<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.24.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.3.3.4001" targetFramework="net45" />
  <package id="Janitor.Fody" version="0.6.1.0" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NServiceBus" version="5.0.0-beta0003" targetFramework="net45" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="net45" />
</packages>